<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio de Sesión</title>
    <link rel="stylesheet" href="../styles/stylesheet.css">
    
</head>
  <body>

    <!-- NAVBAR -->
 <!-- ------------------------------------------------------------------------------------------------------------------ -->
      <header>      
        <nav class="navbar">
            
               <!-- logo -->
                <a class="navbar-brand" href="#"> <img src="../images/Logo.png" alt="Logo"> </a>
                
                <!-- Barra derecha -->
                <ul class="navbar-nav">
                
                <!-- item login -->
                    <li class="nav-item">
                        <a href="login.html">LOGIN</a>
                    </li>
                 
        </nav>
      </header>

      <!-- ASIDE -->
 <!-- ------------------------------------------------------------------------------------------------------------------ -->
      <!-- Foto de los barberos con su respectiva informacion  -->
         <!-- Lista desordenada que contiene la pequeña descripcion del barbero 1-->
      <aside> 
        <ul class="barbero">
            <li>
                
                <ul class="Descripcion">
                    <li>
                        <img src="../images/Barbero.png">
                    </li>
                    <li>
                        Nombre: Sebastian Ramirez Muñoz
                    </li>
                    <li>
                        Apodo: Rami
                    </li>
                    <li>
                        Edad: 19 años
                    </li>
                    <li>
                        Experiencia: 5 años de experiencia
                    </li>
                </ul>
            </li>
  <!-- Lista desordenada que contiene la pequeña descripcion del barbero 2-->
            <li>
                <ul class="Descripcion">
                    <li>
                        <img src="../images/Barbero.png">
                    </li>
                    <li>
                        Nombre: Joseph Chica Giraldo
                    </li>
                    <li>
                        Apodo: POSpucio
                    </li>
                    <li>
                        Edad: 19 años
                    </li>
                    <li>
                        Experiencia: 4 años de experiencia
                    </li>
                </ul>
            </li>
<!-- Lista desordenada que contiene la pequeña descripcion del barbero 3-->                    
                <ul class="Descripcion">
                    <li>
                        <img src="../images/Barbero.png">
                    </li>
                    <li>
                        Nombre: Juan David Montoya
                    </li>
                    <li>
                        Apodo: Arby
                    </li>
                    <li>
                        Edad: 19 años
                    </li>
                    <li>
                        Experiencia: 19 años de experiencia
                    </li>
<!-- Lista desordenada que contiene la pequeña descripcion del barbero 1-->                    
                </ul>
            </li>
        </ul><!-- Lista desordenada que contiene las imagenes del abarbero junto con una pequeña descripcion  -->
    </aside>

 <!-- ------------------------------------------------------------------------------------------------------------------ -->
<!-- MAIN -->
<main>
    <div class="FormularioA">
        <h1 class="titulo">AGENDACION</h1>
        <div class="container-form">
        <form method="post">
                <label for="email">Nombre Completo</label>
                <input type="text" id="email" name="email" required>
                <br>

                <label for="text">Alias(opcional)</label>
                <input type="text" id="Alias" name="Alias">
                <br>

                <label for="date">Fecha de la cita</label>
                <input type="date" id="fecha" name="fecha" required>
                <br>

                <label for="time">Hora de la cita</label>
                <input type="time" id="hora" name="hora" required>
                <br>

                <label for="text">Nombre del Barbero</label>
                <input type="text" id="barbero" name="barbero" required>
                <br>

                <label for="text">Descripcion del corte</label>
                <input type="text" id="desc" name="desc" required>
                <br>
                

                <input id="submit-button" type="submit" value="Agendar cita" href="index.html">
                <!-- <button type="button">¿Olvidaste tu contraseña?</button> -->          
        </form>
        </div>   
    </div>
</main>
    <!-- FOOTER-->
 <!-- ------------------------------------------------------------------------------------------------------------------ -->
    <footer>
        <div class="footer">

            <nav class="footer-redes">
                    <a target="_blank" class="ig" href="https://www.instagram.com/labarberia_dr/?hl=es"> <img src="../images/ig.png"> </a>  
                    <a target="_blank" class="tito" href="https://www.tiktok.com/@labarberiadr"> <img src="../images/tittto.png"> </a> 
            </nav>

            <nav class="footer-Contacto">
                <ul>
                    <li class="footer-text"> Tel: 6042088833 </li>
                    <li class="footer-text"> Cel: 301 4090251 </li>
                    <li class="footer-text"> Correo: LabarberiaDR@gmail.com </li>
                </ul>
            </nav>

            <nav class="footer-Ubicacion">
                <ul>
                    <li class="footer-text"> Calle 57 #66bb-47</li>
                    <li class="footer-text"> Bello Antioquia</li>
                </ul>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/David+Rodr%C3%ADguez-+La+Barber%C3%ADa/@6.3414378,-75.5703336,15z/data=!4m6!3m5!1s0x8e442fb27cb43ad3:0xe7d47a966ce8f0d5!8m2!3d6.3421657!4d-75.5710484!16s%2Fg%2F11g6b3t5qq?entry=ttu&g_ep=EgoyMDI1MDQyMi4wIKXMDSoASAFQAw%3D%3D"><img src="../images/Ubicacion.png"> </a>
                </li>
            </nav>

        </div>
    </footer>

    <!-- ASIDE2 -->
 <!-- ------------------------------------------------------------------------------------------------------------------ -->

  </body>

</html>