/* Estilos básicos de reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
  }
  
  body {
    background-color: #f2dec4;
    font-family: Arial, sans-serif;
  }

  header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    height: auto;
  }

  /* -- ------------------------------------------------------------------------------------------------------------------  */
main{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.FormularioA{
  background-color: #c48f61 ;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    
}
.FormularioA img{
  height: 100%;
  object-fit: cover;
}

label{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  font-weight: bold;
}

input{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;    
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  background-color: #ecdcc0;
}

.container-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;    
}

.titulo{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
}

#submit-button{
  background-color: #ecdcc0;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}


  /* -- ------------------------------------------------------------------------------------------------------------------  */

footer{
  position: relative;
  bottom: 0;
  display: flex;
  text-align: justify;
  background-color: #703a12;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-top-width: 3px;
  border-color: #000000;
  border-top-style: solid;
  list-style: none;
  
}

.footer{
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  flex-direction: row;
}

.footer-Contacto{
  display: flex;
  justify-content: left;
  list-style: none;
  width: 50%;
  margin-left: 250px;
  margin-right: 50px;
}

.footer-Ubicacion{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-left: 10px;
  width: 50%;
  margin-right: 250px;
}

.footer-Contacto ul{
  list-style: none;
}
.footer-Ubicacion ul{
  list-style: none;
}

.footer-text{
  font-weight: bold;
  margin: auto;
  justify-content: center;
  line-height: 1.5;
}

.footer-Ubicacion img{
  width: 300px;
  height: auto;
  margin-left: 10px;
}

.footer-redes{
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.ig img{
  list-style: none;
  height: auto; 
  width: 100%; 
  max-width: 200px; 
  max-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.face img{
  list-style: none;
  height: auto; 
  width: 100%; 
  max-width: 200px; 
  max-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.tito img{
  list-style: none;
  height: auto; 
  width: 100%; 
  max-width: 200px; 
  max-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}


.menu__sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -250px;
  width: 350px;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  background: #a66b38;
}
.menu__sidebar:hover{
  left: 0;
  transition: all 0.5s ease-in-out;
}


.menu__sidebar:hover > .menu__image{
  align-self: center;
  transition: all 0.5s ease-in-out;
}

.menu__main{
  background-color: #703a12;
}
.menu__image{
  align-self: flex-end;
  width: 100px;
  transition: all 0.5s ease-in-out;
  background-color: #703a12;
  margin-bottom: 20px;
}

.menu__brownsquare{
  background-color: #703a12;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu__sidebar > ul {
  list-style: none;
}
.menu__link {
  font-size: large;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  height: auto;
  width: 80%;
  text-align: left;
  padding: 15px 60px;
  margin: 10px 0;
  margin-left: 5%;
  margin-bottom: 20px;
}

.menu__link:hover {
  border-radius: 7px;
  font-weight: bolder;
  cursor: pointer;
  font-style: oblique;
  background-color: #703a12;
}